/* 全体のスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #b3e5fc;
    color: #333;
    text-align: center;
    padding: 20px;
}

/* ヘッダー */
h1 {
    color: #0277bd;
}

/* ユーザー情報とリンク */
.user-info {
    text-align: right;
    margin-bottom: 20px;
}

.user-info span {
    font-weight: bold;
}

.user-info a {
    margin-left: 15px;
    text-decoration: none;
    color: #0277bd;
}

.user-info a:hover {
    text-decoration: underline;
}

/* リスト追加エリア */
#task {
    padding: 10px;
    border: 1px solid #0277bd;
    border-radius: 5px;
}

/* ボタン */
button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #0277bd;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #01579b;
}

/* 完了と削除ボタン */
button.task-action {
    font-size: 12px;
    padding: 10px 15px;
}

/* テーブル */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
}

/* テーブル */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: #ffffff;
    /* テーブルの背景色を白に設定 */
}

th,
td {
    border: 1px solid #0277bd;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0277bd;
    color: white;
}

#right {
    text-align: right;
}